@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

body {
    background-color: #DBF3FA;
}
main{
    border: #DBF3FA solid 1px;
    background-color: yellow;
}

header {
    display: flex;
    font-family: 'Itim', cursive;
    font-size: 500%;
    color: white;
    background: linear-gradient(to right, rgb(62, 186, 235), rgb(58, 137, 212));
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    margin-left: 22%;
    margin-right: 33%;
    border-radius: 45px 45px 45px 45px;
}

legend {
    font-style: oblique;
    font-family: "Times New Roman", serif;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 200%;

}

fieldset {
    border-radius: 5%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 70%;
    background-color: rgba(236, 243, 244, 0.38);
    font-size: 150%;
    font-weight: bolder;
    font-family: "Times New Roman", serif;
    font-style: italic;
}

#Player_turn {
    position: absolute;
    top: 28%;
    left: 33%;
    background: linear-gradient(to right, rgb(62, 186, 212), rgb(58, 137, 212));
    color: #fff;
    padding: 10px 10px;
    font-family: Lucida Console, serif;
    font-size: 110%;
    border-radius: 25%;
    text-align: center;
    width: 13%;
    height: 4%;

}

#table {
    position: absolute;
    top: 38%;
    left: 25%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 30%;
    height: 55%;
    margin: auto;

}

.box {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    width: 8em;
    height: 7.5em;
    border: rgba(53, 46, 49, 0.33) solid 2px;
    cursor: pointer;
    margin: auto;


}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7) {
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
    border-right: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
    border-bottom: none;
}


img {
    margin-top: 0.9em;
    height: 5em;
    width: 4.5em;
    display: inline-block;
}

#winner {
    visibility: hidden;
    position: absolute;
    top: 60%;
    left: 3%;
    background: linear-gradient(to right, rgb(62, 186, 212), rgb(58, 137, 212));
    color: #fff;
    font-family: Lucida Console, serif;
    padding: 1.2% 1.2%;
    font-size: 110%;
    border-radius: 25%;
    text-align: center;
    width: 10%;
    height: 3%;
}

.reset {
    position: absolute;
    top: 93.5%;
    left: 38%;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*Media Queries*/
@media screen and (max-width: 480px) {
    header {
        font-size: 230%;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 1%;
        margin-left: 25%;
        margin-right: 23%;
    }

    legend {
        margin-left: 10%;
        font-size: 150%;
    }

    fieldset {
        border-radius: 5%;
        margin-left: 2%;
        margin-right: 10%;
        font-size: 90%;
    }

    #Player_turn {
        position: absolute;
        top: 40%;
        left: 35%;
        padding: 1% 1%;
        font-size: 78%;
        text-align: center;
        width: 27%;
        height: 3%;
    }

    #table {
        top: 48%;
        left: 20%;
        width: 30%;
        height: 26%;
        margin: auto;
    }

    .box {
        font-family: "Permanent Marker", cursive;
        text-align: center;
        width: 5em;
        height: 4.5em;
        border: rgba(53, 46, 49, 0.33) solid 2px;
        cursor: pointer;
        margin: auto;
    }

    img {
        margin-top: 0.9em;
        height: 3em;
        width: 3.5em;
        display: inline-block;
    }

    #winner {
        top: 63%;
        left: 80%;
        padding: 1.2% 1.2%;
        font-size: 90%;
        width: 15%;
        height: 3%;
    }

    .reset {
        top: 80%;
        left: 44.5%;
        width: 11%;
        height: auto;
        cursor: pointer;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    header {
        font-size: 300%;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 1%;
        margin-left: 28%;
        margin-right: 35%;
    }

    legend {
        margin-left: 10%;
        font-size: 200%;
    }

    fieldset {
        margin-left: 2%;
        margin-right: 10%;
        font-size: 115%;
    }

    #Player_turn {
        top: 45%;
        left: 32%;
        padding: 2% 2%;
        font-size: 100%;
        width: 25%;
        height: auto;
    }

    #table {
        top: 53%;
        left: 22%;
        width: 50%;
        height: 40%;
        margin: auto;
    }

    .box {
        width: 7.8em;
        height: 7.8em;
    }

    #winner {
        top: 75%;
        left: 78%;
        padding: 1.2% 1.2%;
        font-size: 130%;
        width: 15%;
        height: 5%;
    }

    .reset {
        top: 105%;
        left: 43%;
        width: 9%;
        height: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        font-size: 400%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 1% 29% 0% 18%;

    }

    legend {

        margin-left: 5%;
        font-size: 150%;
    }

    fieldset {
        border-radius: 5%;
        margin-right: 2%;
        font-size: 130%;

    }

    #Player_turn {
        top: 22%;
        left: 30%;
        padding: 2% 2%;
        font-size: 100%;
        width: 15%;
        height: auto;
    }

    #table {
        top: 32%;
        left: 19%;
        width: 40%;
        height: 40%;
    }

    #winner {
        top: 54%;
        left: 3%;
        padding: 1.2% 1.2%;
        font-size: 120%;
        width: 13%;
        height: 3%;
    }

    .reset {
        top: 85%;
        left: 36%;
        width: 7%;
        height: auto;
    }


}

@media only screen and (min-width: 1025px) and (max-width: 1365px) {

    header {

        font-size: 400%;
    }

    legend {
        margin-left: 10%;
        font-size: 200%;
    }

    fieldset {
        margin-right: 3%;
        font-size: 139%;
    }

    #Player_turn {
        top: 22%;
        left: 33%;
        padding: 2% 2%;
        font-size: 120%;
        width: 15%;
        height: auto;
    }

    #table {
        top: 35%;
        left: 24%;
        width: 30%;
        height: 40%;
    }

    #winner {
        top: 54%;
        left: 3%;
        padding: 1.2% 1.2%;
        font-size: 150%;
        width: 13%;
        height: 3%;
    }

    .reset {
        top: 85%;
        left: 38%;
        width: 6%;
        height: auto;
    }
}

/*for full HD resolution*/
@media only screen and (min-width: 1441px) and (max-width: 1920px) {

    header {
        font-size: 700%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 1% 40% 0% 18%;
    }

    legend {
        margin-top: 10%;
        margin-left: 2%;
        font-size: 150%;
    }

    fieldset {
        margin-right: 3%;
        font-size: 270%;
    }

    #Player_turn {
        top: 21%;
        left: 32%;
        padding: 1.2% 1.2%;
        font-size: 190%;
        width: 15%;
        height: auto
    }

    #table {
        top: 29%;
        left: 20%;
        width: 32%;
        height: 40%;


    }

    .box {
        width: 17em;
        height: 15em;
        border: rgba(53, 46, 49, 0.33) solid 5px;
        cursor: pointer;
        margin: auto;
    }

    img {
        margin-top: 0.9em;
        height: 11em;
        width: 10em;
        display: inline-block;
    }

    #winner {

        top: 60%;
        left: 3%;
        padding: 1.2% 1.2%;
        font-size: 250%;
        width: 10%;
        height: 3%;
    }

    .reset {
        top: 99%;
        left: 38%;
        width: 8%;
        height: auto;
    }

}
