@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@font-face {
    font-family: 'gotcha';
    src: url('../font/myfont.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: white;
       
}
#container{
     margin: 0 12rem;
     
}
#main-game{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: "#11a4a6" solid 10px;   
    width: 15em;
    box-shadow: 0 0 10px rgb(140, 143, 144);
    height: 25em;
}
header{
    width: 100%;
    margin: 0 0 2em 0;  
}
header #head{
    text-align: center;
    margin: 0 auto;
    padding: 0.5em 2em;
    color: #F2F2F2;
    font-family: 'gotcha';
    font-size: 2.8em;
    background-color: black;
  }
#table {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    margin: 1em auto; 
  }
.box {
text-align: center;
width: 4em;
height: 3.5em;
border: rgba(0, 0, 0, 0.407) solid 2px;
    cursor: pointer;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7) {
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
    border-right: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
    border-bottom: none;
}

img {
margin: 0.5em;
height: 70%;
width: 50%;
}

#main-game .reset { border: solid gray 1px; border-radius: 50%; text-align: center; margin: 1em auto; color:white;background-color: rgb(179, 175, 175); font-family: Arial, Helvetica, sans-serif; font-size: 1.1; padding: 1em; font-weight: 700; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
}
#rep{
    margin: 1em auto !important;
}
.swal-modal {
    width: 30%;
    opacity: 0;
    pointer-events: none;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}
.swal-title {
    color:#11a4a6;
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 1.5rem;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.swal-button {
    background-color: white;
    color: black;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 10px 24px;
    margin: 0;
    border: 1px black solid;
    cursor: pointer;
}
.swal-button:not([disabled]):hover {
    background-color: black;
    color: white;
  }

/*Media Queries*/

   

@media only screen and (max-width: 768px) {
header #head{
    font-size: 1.8em;
    padding: 0.5em 0em;
}
#container {
    margin: 0 5rem;
}
#main-game{
    width: 18em;
height: 90%;
padding: 0;
}
.box{
       width: 5.5em;
       height: 5.5em;
   }
.swal-title{
    font-size: 2.4rem;
   }
.swal-button{
    font-size: 0.8rem;
}
}

@media only screen and (max-width: 546px) {
    header #head{
        padding: 1em 0em;
    }
    #container {
        width:90%;
        margin: 0 auto;
        
        
    }
    #main-game{
        width: 20em;
        height: 90%;
}
    #table{
        margin: 0 auto;
    }
    .swal-title{
        font-size: 1.5rem;
       }
    .swal-button{
        font-size: 0.6rem;
    }
}


