
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: white;
       
}
#container{
     margin: 0 12rem;
     
}
#main-game{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: "#11a4a6" solid 10px;   
    width: 18rem;
    
}
header{
    width: 100%;
    margin: 0 0 2em 0;  
}
header #head{
    text-align: center;
    margin: 0 auto;
    padding: 0 2em;
    
    color:#545454 ;
    font-family: 'Inter';
 font-style: normal;
  font-weight: 500;
font-size: 5rem;
line-height: 105px;
word-spacing: 5px;
  }
  header #head::before{
    color: #3ba8d7;
    content: "Tic ";
  }
   header #head::after{
    color:#f92f60 ;
    content: " Toe";
  }
#table {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    margin: 1em auto; 
  }
.box {
text-align: center;
width: 6rem;
height: 5.5rem;
border: 4.4086px solid #4b4949;
    cursor: pointer;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7) {
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
    border-right: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
    border-bottom: none;
}


#main-game .reset {
    border: solid gray 1px;
    border-radius:25%;
    text-align: center;
    margin: 1em auto;
    color:#545454;
    background-color: rgb(254, 249, 249);
    font-family: "Inter";
    font-size: 1.1;
    padding: 0.5em 1em;
    font-weight: 900;
    -webkit-border-radius:25%;
    -moz-border-radius:25%;
    -ms-border-radius:25%;
    -o-border-radius:25%;
}
#rep{
    margin: 1em auto !important;
}
.close {
  position: relative;
  
}
.close:after {
    position: absolute;
    top: -0.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274C";
    font-size: 4.2em;
    line-height: 100px;
    text-align: center;
    
  }
 .cercle{
    width: 4.2em;
    height: 4.2em;
    margin: 0.4em auto;
    align-items: center;
    border-radius: 45px;
    background: transparent;
    border:#3ba8d7 solid 8px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

.swal-modal {
    width: 30%;
    opacity: 0;
    pointer-events: none;
    background-color: #000000c7;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}
.swal-title {
    color:white;
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 1.5rem;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
   
}
.swal-button {
    background-color: white;
    color: black;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 10px 24px;
    margin: 0;
    border: 1px black solid;
    cursor: pointer;
}
.swal-button:not([disabled]):hover {
    background-color: black;
    color: white;
  }

/*Media Queries*/

   

@media only screen and (max-width: 768px) {
header #head{
    font-size: 4.3rem;
}
#container {
    margin: -2rem 5rem;
}
#main-game{
    width: 18em;
height: 90%;
padding: 0;
}
.box{
       width: 5.5em;
       height: 5.5em;
   }
.swal-title{
    font-size: 2.4rem;
   }
.swal-button{
    font-size: 0.8rem;
}
}

@media only screen and (max-width: 546px) {
    header #head{
        padding: 1rem 0 0.2rem 0;
    }
    #container {
        width:90%;
        margin: -2em auto;
        
        
    }
    #main-game{
        width: 20em;
        height: 90%;
}
    #table{
        margin: 0 auto;
    }
    .swal-title{
        font-size: 1.5rem;
       }
    .swal-button{
        font-size: 0.6rem;
    }
}


